.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  width: 100%;
  justify-content: center;

  .header-left {
    width: 50%;
    height: 100;
    display: flex;
    align-items: center;

    .logo {
      height: 100%;
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;

    .links {
      margin-right: 20px;
    }
  }
}
